//! **************************************************************************
// Written by: Map P.20131013 on Mon Mar 07 16:38:44 2016
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "N3" LEVEL 1;
COMP "B" LOCATE = SITE "E2" LEVEL 1;
COMP "C" LOCATE = SITE "F3" LEVEL 1;
COMP "D" LOCATE = SITE "G3" LEVEL 1;
COMP "E" LOCATE = SITE "B4" LEVEL 1;
COMP "F" LOCATE = SITE "K3" LEVEL 1;
COMP "G" LOCATE = SITE "L3" LEVEL 1;
COMP "X" LOCATE = SITE "G1" LEVEL 1;
COMP "Y" LOCATE = SITE "N4" LEVEL 1;
COMP "Z" LOCATE = SITE "P4" LEVEL 1;
SCHEMATIC END;

